<div class="content container-fluid">
  <table class="table table-hover">
    <thead>
      <td>Artikelnummer</td>
      <td>Artikelnaam</td>
      <td>Prijs</td>
      <td>Aantal</td>
    </thead>
    <tbody>
      {{#each stock in model}}
        <tr>
          <td>{{stock.item.article.code}}</td>
          <td>{{stock.item.article.name}}</td>
          <td>{{stock.item.article.displayPrice}}</td>
          <td>{{stock.item.article.displayPrice}}</td>
        </tr>
      {{else}}
      <tr>
        <td colspan="4">No articles found</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
