<div class="panel">
  <div class="panel-heading">Algemeen</div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputPromcode" class="col-lg-1 control-label">Promnummer</label>
        <div class="col-lg-11">
          {{input class="form-control" id="inputPromcode" value=code}}
        </div>
      </div>
      <div class="form-group">
        <label for="inputLastName" class="col-lg-1 control-label">Naam</label>
        <div class="col-lg-11">
          {{input class="form-control" id="inputLastName" value=lastName}}
        </div>
      </div>
      <div class="form-group">
        <label for="inputFirstName" class="col-lg-1 control-label">Voornaam</label>
        <div class="col-lg-11">
          {{input class="form-control" id="inputFirstName" value=firstName}}
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel">
  <div class="panel-heading">Adres</div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputStreet" class="col-lg-1 control-label">Straat</label>
        <div class="col-lg-5">
          {{input class="form-control" id="inputStreet" value=street}}
        </div>

        <label for="inputAddress" class="col-lg-1 control-label">Nummer</label>
        <div class="col-lg-5">
          {{input class="form-control" id="inputAddress" value=address}}
        </div>
      </div>
      <div class="form-group">
        <label for="inputCity" class="col-lg-1 control-label">Gemeente</label>
        <div class="col-lg-5">
          {{input class="form-control" id="inputCity" value=city}}
        </div>

        <label for="inputZipcode" class="col-lg-1 control-label">Postcode</label>
        <div class="col-lg-5">
          {{input class="form-control" id="inputZipcode" value=zipcode}}
        </div>
      </div>

    </form>
  </div>
</div>
<div class="panel">
  <div class="panel-heading">Contactgegevens</div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputPhone" class="col-lg-1 control-label">Telefoon</label>
        <div class="col-lg-5">
          {{input class="form-control" id="inputPhone" value=phone}}
        </div>
        <label for="inputCellphone" class="col-lg-1 control-label">Gsm</label>
        <div class="col-lg-5">
          {{input class="form-control" id="inputCellphone" value=cellphone}}
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-1 control-label">Email</label>
        <div class="col-lg-11">
          {{input class="form-control" id="inputEmail" value=email}}
        </div>
      </div>
    </form>
  </div>
</div>
<button class="btn btn-primary pull-right" {{action "save"}}>Opslaan</button>
{{link-to "Annuleer" "proms.index" class="btn btn-link pull-right"}}
