<div class="well">
  <p>Datum: 17.10.1993</p>
</div>
<div class="panel panel-default">
  <table class="table table-hover">
    <thead>
      <td>Artikelnummer</td>
      <td>Artikelnaam</td>
      <td>Prijs</td>
      <td>Aantal</td>
    </thead>
    <tbody>
      {{#each article in model}}
      {{#link-to 'articles.edit' article tagName='tr'}}
      <td>{{article.code}}</td>
      <td>{{article.name}}</td>
      <td>{{article.displayPrice}}</td>
      <td>
        {{input type="number" class="form-control" value=articleAmount
        disabled=true}}
      </td>
      {{/link-to}}
      {{else}}
      <tr>
        <td colspan="4">No articles found</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<button class="btn btn-danger pull-left" {{action "delete"}}>Verwijder</button>
<button class="btn btn-primary pull-right" {{action "save"}}>Opslaan</button>
{{link-to "Annuleer" "transfer.index" tagName="button" class="btn btn-link pull-right"}}
